h2 {
    margin-bottom: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1e293b;
}

.result-count {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #64748B;
}

.app-product-list-users__container {
    margin-top: 36px;

    .app-product-list__users {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        & >*{
            margin-bottom: 32px;
            position:relative;
        }

        & >*:not(:nth-child(5n)) {
            margin-right: 24px;
        }
        
    }

}




 

