footer {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 144px;
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color:#ffffff;
    background: linear-gradient(180deg, rgba(41,50,139,1) 5%, rgba(76,88,200,1) 35%, rgba(89,210,189,1) 100%);
}