<div class="edit-form-container _container">
    <form [formGroup]="editForm" class="product-edit-form" novalidate>
        <h3 class="product-edit-form__header">Новое объявление</h3>
    
        <div class="product-edit-form__category-selects category-selects _subform">
            <p class="category-selects__subform-name subform-name">Выберите категорию<sup>*</sup></p>
            <select  id="Category" class="category-selects__category _form-select" formControlName="firstLevelCategory" (change)="onFirstLevelCategoryChange()">
                <option value="" disabled selected hidden>Выберите категорию</option>
                <option *ngFor="let category of firstLevelCategories" [value]="category.id">{{ category.name }}</option>
            </select>
            
            <div *ngIf="editForm.controls['firstLevelCategory'].invalid && (editForm.controls['firstLevelCategory'].touched)">
                <small class="err-message" *ngIf="editForm.controls['firstLevelCategory'].errors?.['required']">Обязательное поле</small>
            </div>
    
            <select id="SubCategory" class="category-selects__subcategory _form-select" 
            formControlName="secondLevelCategory" (change)="onSecondLevelCategoryChange()" 
            *ngIf="editForm.get('firstLevelCategory')?.value && secondLevelCategories.length !== 0">
                <option value="" disabled selected hidden>Выберите подкатегорию</option>
                <option *ngFor="let category of secondLevelCategories" [value]="category.id">{{ category.name }}</option>
            </select>
            <div *ngIf="editForm.controls['secondLevelCategory'].invalid && (editForm.controls['secondLevelCategory'].touched && secondLevelCategories.length !== 0)">
                <small class="err-message" *ngIf="editForm.controls['secondLevelCategory'].errors?.['required']">Обязательное поле</small>
            </div>
    
            <select id="UnderSubCategory" class="category-selects__under-subcategory _form-select"
            formControlName="thirdLevelCategory" 
            *ngIf="editForm.get('secondLevelCategory')?.value && thirdLevelCategories.length !== 0">
                <option value="" disabled selected hidden>Выберите подкатегорию</option>
                <option *ngFor="let category of thirdLevelCategories" [value]="category.id">{{ category.name }}</option>
            </select>
            <div *ngIf="editForm.controls['thirdLevelCategory'].invalid && (editForm.controls['thirdLevelCategory'].touched && thirdLevelCategories.length !== 0)">
                <small class="err-message" *ngIf="editForm.controls['thirdLevelCategory'].errors?.['required']">Обязательное поле</small>
            </div>
        </div>
    
        <div class="product-edit-form__product-name product-name _subform">
            <p class="product-name__subform-name subform-name">Название объявления<sup>*</sup></p>
            <input class="product-name__input _form-text" type="text" id="ProductName"  formControlName="productName" 
            placeholder="Что хотите продать?" autocomplete="off" autocomplete="no">
            <div *ngIf="editForm.controls['productName'].invalid && (editForm.controls['productName'].touched || editForm.controls['productName'].dirty)">
                <small class="err-message" *ngIf="editForm.controls['productName'].errors?.['required']">Обязательное поле</small>
                <small class="err-message" *ngIf="editForm.controls['productName'].errors?.['maxlength']">Максимальное количество символов: 50.</small>
            </div>
        </div>
    
    
        <div class="product-edit-form__product-description product-description _subform">
            <p class="product-description__subform-name subform-name">Описание объявления<sup>*</sup></p>
            <textarea class="product-description__textarea _form-textarea" rows="5" id="ProductDescription"  formControlName="productDescription" 
            placeholder="Расскажите подробнее о товаре или услуге" autocomplete="off" autocomplete="no"></textarea>
            <div *ngIf="editForm.controls['productDescription'].invalid && (editForm.controls['productDescription'].touched || editForm.controls['productDescription'].dirty)">
                <small class="err-message" *ngIf="editForm.controls['productDescription'].errors?.['required']">Обязательное поле</small>
                <small class="err-message" *ngIf="editForm.controls['productName'].errors?.['maxlength']">Максимальное количество символов: 4096.</small>
            </div>
        </div>
    
        <div class="product-edit-form__address address _subform">
            <p class="address__subform-name subform-name">Адрес (место проведения сделки)<sup>*</sup></p>
            <input class="address__input _form-text" type="text" id="Address"  formControlName="address" placeholder="Введите адрес">
        </div>
    
        <div class="product-edit-form__add-photos add-photos _subform">
            <input class="add-photos__add" (change)="onFileChange($event)" type="file" id="Photo" multiple="multiple" accept="image/png ,image/jpeg, ,image/heic" formControlName="photo">
            <div class="label-and-inscription">
                <label for="Photo">Выберите изображение</label>
                <span class="inscription">Не более 10 картинок в формате jpg, png или heic</span>
            </div>
            
            <div class="image-preview-list" *ngIf="imagesArray.length != 0">
                <div class="image-preview" *ngFor="let image of imagesArray; let i = index">
                    <img [src]="image.url" alt="Image">
                    <button class="_button" (click)="removeImage(i)">
                        <img src="../../../../../assets/img/icons/cross-icon.svg" width="16px">
                    </button>
                </div>
            </div>
        </div>
        
        <div class="product-edit-form__contact-phone contact-phone _subform">
            <p class="contact-phone__subform-name subform-name">Контактный номер<sup>*</sup></p>
            <input class="contact-phone__input _form-text" type="text" id="ContactPhone"  formControlName="contactPhone" placeholder="+7(000)000-00-00">
            <div *ngIf="editForm.controls['contactPhone'].invalid && (editForm.controls['contactPhone'].touched || editForm.controls['contactPhone'].dirty)">
                <small class="err-message" *ngIf="editForm.controls['contactPhone'].errors?.['required']">Обязательное поле<br></small>
                <small class="err-message" *ngIf="editForm.controls['contactPhone'].errors?.['phoneNumber']">Поле может содержать только цифры и символы "+", "-", и "()"<br></small>
                <small class="err-message" *ngIf="editForm.controls['contactPhone'].errors?.['minlength']">Минимальное количество символов: 8.<br></small>
                <small class="err-message" *ngIf="editForm.controls['contactPhone'].errors?.['maxlength']">Максимальное количество символов: 12.<br></small>
            </div>
        </div>

        <div class="product-edit-form__product-price product-price _subform">
            <p class="product-price__subform-name subform-name">Цена<sup>*</sup></p>
            <input class="product-price__input _form-text" type="text" id="ProductPrice"  formControlName="productPrice" 
            placeholder="0 ₽" autocomplete="off" autocomplete="no">
            <div *ngIf="editForm.controls['productPrice'].invalid && (editForm.controls['productPrice'].touched || editForm.controls['productPrice'].dirty)">
                <small class="err-message" *ngIf="editForm.controls['productPrice'].errors?.['required']">Обязательное поле<br></small>
                <small class="err-message" *ngIf="editForm.controls['productPrice'].errors?.['onlyNum']">Поле может содержать только цифры<br></small>
                <small class="err-message" *ngIf="editForm.controls['productPrice'].errors?.['maxlength']">Максимальное количество символов: 12.<br></small>
            </div> 
        </div>
        <button (click)="onSubmit()"  class="product-edit-form__button _button" [disabled]="editForm.invalid">Разместить объявление</button>
        </form>
</div>
   


