
.edit-form-container {
        width: 1456px;
        padding: 0 0;
        box-sizing: content-box;
   
    .product-edit-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        height: fit-content;
        font-family: "Montserrat", sans-serif;
        
        ._subform {
            width: 100%;
        }
    
        >*:not(:first-child){
            margin-bottom: 16px;
        }
    
        ._subform >*{
            margin-bottom: 8px;
        }
    
        .product-edit-form__header {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 28px;
        }
    
        ._form-text {
            height: 36px;
            width: 776px;
            padding: 8px 12px;
            margin-bottom: 16px;
            font-size: 14px;
            color: #64748B;
            background-color: #ffffff;
            border: 1px solid #CBD5E1;
            border-radius: 4px;
        }
    
        ._form-textarea {
            width: 776px;
            padding: 8px 12px;
            margin-bottom: 16px;
            font-size: 14px;
            color: #64748B;
            background-color: #ffffff;
            border: 1px solid #CBD5E1;
            border-radius: 4px;
            resize: none;
        }
    
        .category-selects {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            p {
                margin-bottom: -8px;
            }
        
            ._form-select {
                height: 36px;
                width: 300px;
                padding: 8px 16px;
                margin-top: 16px;
                font-size: 14px;
                color: #64748B;
                background-color: #ffffff;
                border: 1px solid #CBD5E1;
                border-radius: 4px;
                cursor: pointer;

                option {
                    font-size: 14px;
                    color: #64748B;
                    background-color: #ffffff;
                    cursor: pointer;
                    
                }
            }
        }
    
        .product-edit-form__button {
            align-items: center;
            height: 36px;
            width: fit-content;
            padding: 8px 24px;
            margin: 14px 0 28px 0;
            font-size: 14px;
            color: #ffffff;
            background-color: #4C58C8;
            border: none;
            border-radius: 4px;
        
            &:hover {
                background-color: #7480ED;
                transition: all 0.3s ease;
            }
            
            &:active {
                background-color: #59D2BD;
            }
        
            &:disabled {
                background-color: #CBD5E1;
                cursor: default;
            }
        }
    
        .add-photos {
            display: flex;
            flex-direction: column;
            width: 776px;
            padding: 4px 0;
            height: max-content;
           
            .image-preview-list {
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                padding: 16px;
                border-radius: 8px;
                background-color: #f0f0f0;

                .image-preview {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: fit-content;
                    padding: 8px;
                    
                    img {
                        max-width: 100px;
                        max-height: 100px;
                    }
                    
                    button {
                        display: block;
                        align-items: center;
                        height: 24px;
                        width: 24px;
                        padding: 4px;
                        margin-left: 8px;
                        font-size: 14px;
                        color: #ffffff;
                        background-color: #4C58C8;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    
                        &:hover {
                            background-color: #7480ED;
                            transition: all 0.3s ease;
                        }
                    
                        &:active {
                            background-color: #59D2BD;
                        }
                
                        &:disabled {
                            background-color: #CBD5E1;
                        }
                
                    }
                }
            }
        
            .add-photos__add {
                display: none;
            }
        
            .label-and-inscription {
                padding: 16px;
                margin: 14px 0;
                border-radius: 8px;
                background-color: #f0f0f0;

                label {
                    align-items: center;
                    height: 36px;
                    width: fit-content;
                    padding: 8px 24px;
                    margin-right: 16px;
                    font-size: 14px;
                    line-height: 146%;
                    color: #ffffff;
                    background-color: #4C58C8;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                
                    &:hover {
                        background-color: #7480ED;
                        transition: all 0.3s ease;
                    }
                    
                    &:active {
                        background-color: #59D2BD;
                    }
                
                    &:disabled {
                        background-color: #CBD5E1;
                        cursor: default;
                    }
                }

                .inscription {
                    font-size: 14px;
                }
            }
        }

        .product-price__input,
        .contact-phone__input {
            width: 300px;
        }

        .err-message {
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 8px;
            color: red;
        }
    }
}




