.header__search-form {
    flex: 1 1 auto;
    display: flex;
    transition: all 0.3s ease;

    
    .search-form__text-field {
        height: 36px;
        width:27vw;
        padding: 8px 12px;
        margin: 0 0                 !important;
        font-size: 14px;
        color: #64748B;
        background-color: #ffffff;
        border-left: 1px solid #CBD5E1;
        border-top: 1px solid #CBD5E1;
        border-bottom: 1px solid #CBD5E1;
        border-right: none;
        border-radius: 4px 0 0 4px;
            
    }

    .search-button {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        padding: 8px 12px;
        font-size: 14px;
        color: #ffffff;
        background-color: #4C58C8;
        border: none;
        border-radius: 0 4px 4px 0;
        transition: all 0.3s ease;

        .search-button__text {
            margin-right: 8px;
        }

        &:hover {
            background-color: #7480ED;
        }
        
        &:active {
            background-color: #59D2BD;
        }
    }
}



