.no-scroll {
    overflow: hidden;
  }

.categories-button {
    flex: 0 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all 0.3s ease;
            
        &:hover {
            background-color: #4C58C8;
           }
            
        &:active {
            border: none;
            background-color: #59D2BD;
        }

        .categories-button__image {
            margin-right: 4px;
            height: 20px;
            width: 20px;
        }
}


.header__categories-container {
    position: absolute;
    left: 0;
   
    width: 100%;
    margin: 24px auto 0 auto;
    box-sizing: content-box;

    .header__background-wrapper {
        display: flex;
        position: relative;
        max-width: 1456px;
        max-height: 590px;
        background-color: #ffffff;
        padding: 24px 16px 16px 16px;
        margin: 0 auto;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        width: 100%;
        z-index: 9;
        overflow: hidden;

        .menu-1st-layer {
            .menu-1st-layer__item {
                position: relative;
                display:flex;
                justify-content: space-between;
                width: 380px;
                border-right: 1px solid #1e293b;
                
                .menu-1st-layer__link{
                    display: inline-block;
                    padding: 16px 24px;
                    font-size: 18px;
                    font-weight: 600;
                    width: 100%;
                    color: #1e293b;
                    border: 0;
                    border-radius: 8px 0 0 8px;
                    background-color: inherit;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        background-color: #7480ED;
                        color:#ffffff
                    }

                    &::after {
                        content: '\21C0';
                        position:absolute;
                        right: 24px;
                        top: 30%;
                        
                    }
                }
            
            }
        }

        .menu-2nd-layer {
            padding: 32px 0 16px 0;
            max-width: 100%;
            overflow-y: scroll;
            scrollbar-width: 0;

            &::-webkit-scrollbar {
                display: none;
            }
            
            .category-head {
                font-size: 24px;
                font-weight: 600;
                color: #1e293b;
                padding: 0 24px;
                width: 100%;
                margin: 0 0 16px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .menu-2nd-layer__item {
                max-width: 320px;

                .menu-2nd-layer__link {
                    display: inline-block;
                    padding: 16px 24px;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 0 8px 8px 0;
                    width: 100%;
                    color: #1e293b;
                    border: 0;
                    background-color: inherit;
                    cursor: pointer;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        background-color: #7480ED;
                        color:#ffffff
                    }
                }
            }
        }    

        .menu-3rd-layer {
            padding: 32px 0 16px 0;
            margin-left: 16px;
            max-width: 100%;
            overflow-y: scroll;
            scrollbar-width: 0;

            &::-webkit-scrollbar {
                display: none;
            }
        
            .menu-3rd-layer__item {
                max-width: 100%;
                
                .menu-3rd-layer__link {
                    display: inline-block;
                    padding: 16px 24px;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 8px;
                    width: 100%;
                    color: #1e293b;
                    border: 0;
                    background-color: inherit;
                    cursor: pointer;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:hover {
                        background-color: #7480ED;
                        color:#ffffff
                    }
                }
            }
        }

    }
}

.menu-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 108px;
    bottom: 0;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}   

   
















