.app-product-list__search {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.app-product-list__search >*{
    margin-bottom: 32px;
    position:relative;
}

.app-product-list__search >*:not(:nth-child(5n)) {
    margin-right: 24px;
}