.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    .highlighted {
        border: 3px solid #4C58C8;
      }

    .gallery__preview-container {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-top: 16px;

        .preview {
            width: 56px;
            height: 56px;
            border-radius: 8px;
            margin-right: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;
            cursor: pointer;
        }

        
    }
    

    .gallery__background {
        position: relative;
        width: 948px;
        height: 534px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left:0;
            background-color: rgba(0, 0, 0, 0.3);
        
        }

        .rightArrow {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 32px;
            font-size: 45px;
            color: #fff;
            z-index: 3;
            
            cursor: pointer;
          }
          
          .leftArrow {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 32px;
            font-size: 45px;
            color: #fff;
            z-index: 3;
            
            cursor: pointer;
          }

        .gallery__image-blur-bcg {
            position: absolute;
            width: 120%;
            height: 120%;
            top: -10px;
            left: -10px;
            object-fit: cover;
            overflow: hidden;
            filter: blur(20px);
        }

        .gallery__image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            object-fit: contain;
        }
    }
}