.product-page__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Montserrat", sans-serif;

    .product-page__product-title {
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 24px;
        color: #1e293b;
    }

    .gallery-and-description {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .description {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 32px;
            margin-right: 8px;
            padding: 32px;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

            .description__edit-poduct-button {
                align-items: center;
                height: fit-content;
                width: fit-content;
                padding: 14px 18px;
                margin-top: 24px;
                font-size: 14px;
                color: #4C58C8;
                background-color: transparent;
                border: 1px solid #4C58C8;
                border-radius: 4px;
        
                &:hover {
                    color: #59D2BD;
                    border:  1px solid #59D2BD;
                    transition: all 0.3s ease;
                }
            
                &:active {
                    color: #59D2BD;
                    border:  1px solid #59D2BD;
                }
        
            }

            .description__price {
                margin-bottom: 24px;
                font-weight: 600;
                font-size: 32px;
                color: #1e293b;

            }

            ._title {
                font-weight: 600;
                font-size: 24px;
                color: #1e293b;
                margin-bottom: 8px;
            }

            ._text {
                font-size: 16px;
                color: #64748B;
                line-height: 146%;
                margin-bottom: 32px;
            }

            .description__show-contacts-button {
                align-items: center;
                height: fit-content;
                width: fit-content;
                padding: 18px 36px;
                margin-bottom: 48px;
                font-size: 16px;
                color: #ffffff;
                background-color: #4C58C8;
                border: none;
                border-radius: 4px;
        
                &:hover {
                    background-color: #7480ED;
                    transition: all 0.3s ease;
                }
            
                &:active {
                    background-color: #59D2BD;
                }
        
                &:disabled {
                    background-color: #CBD5E1;
                    cursor: default;
                }
        
            }

            .description__addtitional-info {
                font-size: 14px;
                color: #64748B;

                .description__category {
                    margin-bottom: 8px;
                }
                
            }

        }
    }
}

.modal-text {
    font-size: 18px;
    font-weight: 600;
}

.rules-list {
    margin-top: 16px;
    li {
        margin-bottom: 8px;
    }
}
