<ul class="header__sign-in-dropdown sign-in-dropdown">
    <li class="sign-in-dropdown__link">
        <a routerLink="/auth/sign-in" *ngIf="!authStatus" class="sign-in-dropdown__sign-in-button sign-in-button _button" 
        [ngClass]="{'isntAuth': !authStatus}">
            <div class="sign-in-button__image">
                <img src="/assets/img/icons/person-icon.svg" alt="Войти">
            </div>
            <span class="sign-in-button__text">Войти</span>
        </a>
        <div *ngIf="authStatus" class="sign-in-dropdown__sign-in-button sign-in-button _button" >
            <div class="sign-in-button__image">
                <img src="/assets/img/icons/person-icon.svg" alt="Войти">
            </div>
            <span class="sign-in-button__text">{{ this.currentUser }}</span>
        </div>
        <ul *ngIf="authStatus" class="sign-in-dropdown__dropdown-submenu dropdown-submenu">
            <li class="dropdown-submenu__link">
                <a routerLink="/main/user-products">
                    <span>Мои объявления</span>
                </a>
            </li>
            <li class="dropdown-submenu__link">
                <a routerLink="/settings/user-settings">
                    <span>Настройки</span>
                </a>
            </li>
            <li class="dropdown-submenu__link">
                <button (click)="exit()">
                    <span>Выход</span>
                </button>
            </li>
        </ul>
    </li>
</ul>

