<article class="product-list__product-card product-card">
    <a href="#" class="product-card__body">
        <div class="product-card__image _ibg">
            <img [src]= "imageSrc(product.imagesIds[0])" alt="product photo">
        </div>
        <div class="product-card__description">
            <h4 class="product-card__name">{{ product.name }}</h4>
            <em class="product-card__price">{{ product.cost }} ₽</em>
            <span class="product-card__addres">{{ product.location }}</span>
            <span class="product__card__time">{{ product.createdAt }}</span>
        </div>
    </a>
</article>
