.add-product-button {
    flex: 0 0 188px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    background-color: #4C58C8;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;

    .add-product-button__text{
        margin-right: 4px;
    }
    &:hover {
        background-color: #7480ED;
    }
    
    &:active {
        background-color: #59D2BD;
    }

    .add-product-button__image {
        height: 20px;
        width: 20px;
    }
}

